@import "./common/styles/commonClasses.css";
@import "./common/styles/variables.css";
@import "./common/styles/animations.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: url("./assets/bodybg.svg") center/cover no-repeat;
  color: var(--text);
}

